<dl>

<dt><b><font color="maroon">o</font></b> 

<font color="maroon">[o]</font>  &lt;*&gt; &lt;artd&gt; <font color="blue"><b>DET</b> M S </font> <font color="darkgreen">@&gt;N</font>
<dt><b><font color="maroon">ser humano</font></b> 

<font color="maroon">[ser=humano]</font>  &lt;H&gt; <font color="blue"><b>N</b> M S </font> <font color="darkgreen">@SUBJ&gt;</font>
<dt><b><font color="maroon">constrói</font></b> 

<font color="maroon">[construir]</font>  &lt;fmc&gt; &lt;vt&gt; <font color="blue"><b>V</b> PR 3S IND VFIN </font> <font color="darkgreen">@FMV</font>
<dt><b><font color="maroon">seu</font></b> 

<font color="maroon">[seu]</font>  &lt;poss 3S&gt; &lt;si&gt; <font color="blue"><b>DET</b> M S </font> <font color="darkgreen">@&gt;N</font>
<dt><b><font color="maroon">caráter</font></b> 

<font color="maroon">[caráter]</font>  &lt;f-psych&gt; <font color="blue"><b>N</b> M S </font> <font color="darkgreen">@&lt;ACC</font>
<dt><b><font color="maroon">em</font></b> 

<font color="maroon">[em]</font>  <font color="blue"><b>PRP</b> </font> <font color="darkgreen">@&lt;ADVL</font>
<dt><b><font color="maroon">sociedade</font></b> 

<font color="maroon">[sociedade]</font>  &lt;HH&gt; <font color="blue"><b>N</b> F S </font> <font color="darkgreen">@P&lt;</font>
<dt><b><font color="maroon">.</font></b> 


<dt><b><font color="maroon">primeiro</font></b> 

<font color="maroon">[primeiro]</font>  &lt;*&gt; <font color="blue"><b>ADV</b> </font> <font color="darkgreen">@ADVL</font>
<dt><b><font color="maroon">em</font></b> 

<font color="maroon">[em]</font>  &lt;sam-&gt; <font color="blue"><b>PRP</b> </font> <font color="darkgreen">@ADVL</font>
<dt><b><font color="maroon">o</font></b> 

<font color="maroon">[o]</font>  &lt;-sam&gt; &lt;artd&gt; <font color="blue"><b>DET</b> M S </font> <font color="darkgreen">@&gt;N</font>
<dt><b><font color="maroon">lar</font></b> 

<font color="maroon">[lar]</font>  &lt;Lh&gt; <font color="blue"><b>N</b> M S </font> <font color="darkgreen">@P&lt;</font>
<dt><b><font color="maroon">,</font></b> 

<dt><b><font color="maroon">em</font></b> 

<font color="maroon">[em]</font>  &lt;sam-&gt; <font color="blue"><b>PRP</b> </font> <font color="darkgreen">@ADVL</font>
<dt><b><font color="maroon">a</font></b> 

<font color="maroon">[o]</font>  &lt;-sam&gt; &lt;artd&gt; <font color="blue"><b>DET</b> F S </font> <font color="darkgreen">@&gt;N</font>
<dt><b><font color="maroon">família</font></b> 

<font color="maroon">[família]</font>  &lt;HH&gt; <font color="blue"><b>N</b> F S </font> <font color="darkgreen">@P&lt;</font>
<dt><b><font color="maroon">e</font></b> 

<font color="maroon">[e]</font>  <font color="blue"><b>KC</b> </font> <font color="darkgreen">@CO</font>
<dt><b><font color="maroon">depois</font></b> 

<font color="maroon">[depois]</font>  &lt;atemp&gt; <font color="blue"><b>ADV</b> </font> <font color="darkgreen">@ADVL</font>
<dt><b><font color="maroon">em</font></b> 

<font color="maroon">[em]</font>  &lt;sam-&gt; <font color="blue"><b>PRP</b> </font> <font color="darkgreen">@ADVL</font>
<dt><b><font color="maroon">a</font></b> 

<font color="maroon">[o]</font>  &lt;-sam&gt; &lt;artd&gt; <font color="blue"><b>DET</b> F S </font> <font color="darkgreen">@&gt;N</font>
<dt><b><font color="maroon">igreja</font></b> 

<font color="maroon">[igreja]</font>  &lt;prop&gt; &lt;*&gt; &lt;inst&gt; <font color="blue"><b>N</b> F S </font> <font color="darkgreen">@P&lt;</font>
<dt><b><font color="maroon">ou</font></b> 

<font color="maroon">[ou]</font>  <font color="blue"><b>KC</b> </font> <font color="darkgreen">@CO</font>
<dt><b><font color="maroon">qualquer</font></b> 

<font color="maroon">[qualquer]</font>  &lt;quant&gt; <font color="blue"><b>DET</b> F S </font> <font color="darkgreen">@&gt;N</font>
<dt><b><font color="maroon">outra</font></b> 

<font color="maroon">[outro]</font>  &lt;diff&gt; &lt;KOMP&gt; <font color="blue"><b>DET</b> F S </font> <font color="darkgreen">@&gt;N</font>
<dt><b><font color="maroon">instituição</font></b> 

<font color="maroon">[instituição]</font>  &lt;inst&gt; &lt;act&gt; <font color="blue"><b>N</b> F S </font> <font color="darkgreen">@NPHR</font>
<dt><b><font color="maroon">.</font></b> 


<dt><b><font color="maroon">¶</font></b> 


</dl>
